body{
    margin: 0 !important;
    padding: 0 !important;
}

.nav{
    background-color:#0085FE ;
    height: 3em;
    width: 100%;
    position: fixed;
    margin: 0;
    padding-top: 2em;
    padding-left: 2em !important;
    color: white;
    z-index: 1;
    top: 0;
    font-size: 1.2rem;
}

#cards{
    margin: 3rem !important;
    margin-top: 9rem !important;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card{
    background-color: #9AEFF4 !important;
    padding-left: 1em !important;
    border: 1px solid aqua;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

h5{
    font-size: 1.1rem !important;
}